{% extends "admin/base_site.html" %}

{% block content %}
    <div class=" app-app model-pro_info delete-confirmation delete-selected-confirmation">
    {% for obj in objs %}
     <p>将自动测试以下协议:</p>

        {{ objs.pcap }}
{#        {% for obj in objs %}#}
        <h2>协议名称</h2>
         <ul>
            <li>{{ obj.name }}</li>
        </ul>
    <form method="post" action="/start_test/">
    <div>
        <input type="hidden" name="pcap_path" value="{{ obj.pcap }}" />
        <input type="hidden" name="pro_id" value="{{ obj.id }}" />
        <input type="hidden" name="pro_name" value="{{ obj.name }}" />
        <input type="submit" value="确定"/>
        <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">返回</a>
    </div>
    </form>
    {% endfor %}
    </div>
{% endblock %}